html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #222327;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
}

header{
    background-color: #e85e0d;
    border-bottom: 3px solid white;
    padding: 25px;
    font-size: 1.3em;
    font-weight: bold;
}

footer{
    background-color: #e85e0d;
    margin-top: auto;
    padding:20px;
    display: flex;
    justify-content: center;
    border-top: 3px solid white;
}

.error-message{
    color:red;
}