<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link href="/styles/basic-styles.css" rel="stylesheet" type="text/css">
    <link href="/styles/menu-styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="dropdownMenu" id="userMenu">
            <button class="dropdown-btn">User menu</button>
            <div class="dropdown-content">
              <a href="/menu/my-active-tariffes">View my active tariffes</a>
              <a href="/menu/top-up-balance">Top-up my balance</a>
            </div>
        </div>
        <span id="usernameHolder">Welcome, <%= user.username %>!</span>
        <span id="userBalanceHolder">Balance: <%= user.balance %></span>
        <form action="/logout?_method=DELETE" method="POST" id="logoutForm">
            <button id="logoutBtn" type="submit">log out</button>
        </form>
    </header>
    <section class="mainSect">
        <div id="mainSectHeaderBlock">
            <form id="downloadForm" action="download/tariffes" method="get">
                <button type="submit" id="downloadTariffesBtn" type="submit">Download tariffes</button>
            </form>
            <h2 id="mainSectHeaderText">Choose the most right tariff for you!</h2>
            <div class="dropdownMenu" id="sortOptions">
                <button class="dropdown-btn">Sort</button>
                <div class="dropdown-content">
                  <a id="sortByNameBtn">by name (A-Z)</a>
                  <a id="sortByNameDescBtn">by name (Z-A)</a>
                  <a id="sortByPriceBtn">by price</a>
                </div>
            </div>
        </div>
        <div id="tariffesDisplayBlock"></div>
    </section>
    <footer>
        <span>&#169 2023 IP Dream, Inc.</span>
    </footer>

     <!--template for blocks with tariffes' info-->
     <template>
        <div class="tariffBlock">
            <div class="tariffBlockHeader">
                <h3 class="tariffType">{{type}}</h3>
            </div>
            <div class="tariffBlockContent">
                <h3 class="tariffName">{{name}}</h3>
                <p class="tariffDescription">{{description}}</p>
                <div class="buyBlock">
                    <button class="buyBtn tariffCntrlBtn">Buy</button>
                    <span class="tariffPrice">{{price}}</span>
                </div>
            </div>
        </div>
    </template>
    <script src="js/tariffes-manager.js"></script>
    <script src="js/menu-script.js"></script>
</body>
</html>