<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link href="/styles/basic-styles.css" rel="stylesheet" type="text/css">
    <link href="/styles/login-styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <span>IP Dream - №1 among internet providers in the biggest city of Spain - Cordoba</span>
    </header>
    <section id="mainContent">
        <h3>Please log in:</h3>
        <div id="loginBlock">
            <span class="error-message">
                <% if (messages.error) { %>
                    <%= messages.error %>
                <% } %>
            </span>
            <form method="post" action="/login">
                <label for="emailInput" id="emailInputLabel">Enter your email:</label>
                <input type="text" id="emailInput" name="email" required>
                <br>
                <label for="passwordInput" id="passwordInputLabel">Enter your password:</label>
                <input type="password" id="passwordInput" name="password" required>
                <br>
                <input type="submit" id="submitBtn" value="Log in">
            </form>
        </div>
    </section>
    <footer>
        <span>&#169 2023 IP Dream, Inc.</span>
    </footer>
</body>
</html>