<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link href="views/styles/basic-styles.css" rel="stylesheet">
    <link href="views/styles/menu-styles.css" rel="stylesheet">
    <link href="views/styles/user-menu-styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="dropdownMenu" id="userMenu">
            <button class="dropdown-btn">User menu</button>
            <div class="dropdown-content">
              <a href="#">View my active tariffes</a>
              <a href="#">Top-up my balance</a>
            </div>
        </div>
        <span id="usernameHolder">Welcome, <%= username %>!</span>
        <span id="userBalanceHolder">Balance: <%= balance %></span>
        <form action="/logout?_method=DELETE" method="POST" id="logoutForm">
            <button id="logoutBtn" type="submit">log out</button>
        </form>
    </header>
    <section class="mainSect">
        <div id="mainSectHeaderBlock">
            <h2 id="mainSectHeaderText">Choose the most right tariff for you!</h2>
            <div class="dropdownMenu" id="sortOptions">
                <button class="dropdown-btn">Sort</button>
                <div class="dropdown-content">
                  <a href="#">by name (A-Z)</a>
                  <a href="#">by name (Z-A)</a>
                  <a href="#">by price</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <span>&#169 2023 IP Dream, Inc.</span>
    </footer>

    <!--template for blocks with tariffes' info-->
    <template>
        <div class="tariffBlock">
            <h3 class="tariffType">{{type}}</h3>
            <h2 class="tariffName">{{name}}</h2>
            <p class="tariffDescription">{{description}}</p>
            <span class="tariffPrice">{{price}}</span>
            <button>Buy</button>
        </div>
    </template>
</body>
</html>