.mainSect{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex: 1;
}

.mainSect#topUpSect{
    padding-top: 150px;
}

#mainSectText{
    margin: 15px auto;
    margin-top: 70px;
}

.createForm{
    border: 3px solid #e85e0d; 
    border-radius: 10px;
    padding: 15px; 
    height:fit-content;
    width: fit-content;
    margin: 20px auto;
    text-align: right;
}

.createForm textarea, input, select{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

textarea, #nameInput{
    width: 44%;
    resize: none;
} 

#submitBtn{
    float:none;
}

select:hover{
    cursor:pointer;
}