<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link href="/styles/basic-styles.css" rel="stylesheet">
    <link href="/styles/menu-styles.css" rel="stylesheet">
    <link href="/styles/create-styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="dropdownMenu" id="adminMenu">
            <button class="dropdown-btn">Admin menu</button>
            <div class="dropdown-content">
              <a href="/admin-menu">View all tariffes</a>
              <a href="/admin-menu/users-view">View and add users</a>
              <a href="/admin-menu/tariffes-view">View and add tariffes</a>
              <a href="/admin-menu/my-active-tariffes">View my active tariffes</a>
            </div>
        </div>
        <span id="usernameHolder">Welcome, <%= user.username %>!</span>
        <span id="userBalanceHolder">Balance: <%= user.balance %></span>
        <form action="/logout?_method=DELETE" method="POST" id="logoutForm">
            <button id="logoutBtn" type="submit">log out</button>
        </form>
    </header>
    <section class="mainSect" id="topUpSect"> 
            <h2 id="mainSectHeaderText">Top-up my balance</h2>
            <form id="topUpBalanceForm" class="createForm" action="/top-up-balance?_method=PUT" method="PUT">
                <label for="payInput" id="payInputLabel">Enter the amount of money to put:</label>
                <input type="number" id="payInput" name="price" min="50" max="1000" value="50" required>
                <button type="submit" id="submitBtn">Pay</button>
            </form>
    </section>
    <footer>
        <span>&#169 2023 IP Dream, Inc.</span>
    </footer>
</body>
</html>